
.right {
	margin-top:20px;
	text-align:center;
}
		
.br {
	clear:both;
}
div#form {

	position:relative;
	margin-top:50px;
	text-align:center;
	
}

body {
	position:relative;
	background-color:white;
}
div#form > div:first-letter {
	font-size:1.3em;
	color:green;
	text-transform:uppercase;
}
.right span {
 font-size:2em;
 color:green;
 text-transform:uppercase;
}